page-bus-details {

}
.item > ion-icon.ion-md-disc, .item-inner > ion-icon.ion-md-disc {
    min-height: 1.5rem;
    font-size: 1.5rem;
    line-height: 1;
    color: #456ab0;
}
.bus-icon {
    padding: 16px 16px 0 16px;
    width: 50%;
    margin: 0 auto;
}